<nav class="navbar  navbar-expand-lg" style="background-color: #AAC8A7;">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="../../../assets/img/hidroponia.png" alt="Logo" width="30" height="24"
                class="d-inline-block align-text-top">
            HidroGrow
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <button class="btn btn-secondary" type="submit" routerLink="/principale">Pagina Principal</button>
                </li>&nbsp;
                <li class="nav-item">
                    <button class="btn btn-secondary" type="submit" routerLink="/principale">Configuración</button>
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-danger" type="submit" routerLink="">Cerrar Sesión</button>
            </form>
        </div>
    </div>
</nav>

<!--fixed-top  para que la barra se quede arriba pegada)-->