782 Bytes
<div class="container mt-5 pt-5">
    <div class="col-12">
        <div class="row">
            <div class="col-5 pl-5 mt-5">
                <h1>Line Chart</h1>
                <br>
                <h3>Shufle Data</h3>
                <br>
                <button class="btn btn-outline-primary" >Shuffle</button>
            </div>
            <div class="col-7">
                <div class="my-4">Temperatura: {{ temperatura }}</div>
                <div class="chart-wrapper">
                    <canvas baseChart
                        id="myChart"
                        [data]="barChartData"
                        [options]="barChartOptions"
                        [plugins]="barChartPlugins"
                        [legend]="barChartLegend"
                        [type]="'bar'"
                    >
                    </canvas>
                </div>

            </div>
        </div>
    </div>
</div>