<app-navbar></app-navbar>


<div class="margenes">
    <p class="h1 text-center"><strong>¡Bienvenido(a) a Hydrogrow! </strong></p>
    <br />

    <div class="p-2 row g-6 margenes d-flex justify-content-center">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <p class="h6 card-title"><strong>Sensor de temperatura del agua</strong></p>
                    <a class="btn btn-primary" routerLink="/temperatura">Ir a la Grafica</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <p class="h6 card-title"><strong>Calidad del aire</strong></p>
                    <a class="btn btn-primary" routerLink="/airecalidad">Ir a la Grafica</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <p class="h6 card-title"><strong>Niveles de pH</strong></p>
                    <a href="#" class="btn btn-primary" routerLink="/ph">Ir a la Grafica</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <p class="h6 card-title"><strong>Luminosidad</strong></p>
                    <a href="#" class="btn btn-primary" routerLink="/luz">Ir a la Grafica</a>
                </div>
            </div>
        </div>
    </div>
</div>